* {
    color:grey;
    text-decoration: none;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header { /*for game titles*/
    font-size: x-large;
    font-weight: bold;
    color: #bebeb6;
}

p { /*to remove top and bottom margins*/
    margin-top: 0;
    margin-bottom: 0;
}

li, ul { /*to remove bullets and to remove paddings and margins*/
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


body { /*to set margin on top of the body and remove the other margins and to set background color of body*/
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #272b30;
    height: auto;
}





/*NAVIGATION BAR*/
#home-nav { /*home-nav is the whole top navigation bar; it is divided into two namely: right-nav and left-nav*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: fixed; 

    height: 50px;

    top: 0;
    left: 0;
    right: 0;
    
    padding-left: 30px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: #272b30;

    border-bottom: 1px solid rgba(28,28,28,.6);
}

nav select, #free-games, #browser-games { /*to remove border, to increase font-size and to change bg color of dropdowns */
    border: none;

    font-size: 16px;

    background-color: #272b30;
}

#free-games:hover, #browser-games:hover, li a:hover { /*whenever the dropdowns and links are hovered, font color changes to white and cursor becomes a pointer*/
    color:white;
    cursor: pointer;
}

a img:hover { /*whenever the search icons and etc are hovered, brightness increases which essentially colors the icon to white*/
    filter: brightness(2);
}

#free-games { /*sets the width of dropdown free-games*/
    width: 110px;
}

#browser-games { /*sets the width of dropdown browser-games*/
    width: 135px;
}


nav button:hover { /*whenever the button (join free) is hovered, the font and border colors change to white and the cursor changes to pointer*/
    color:white;
    border-color: white;
    cursor: pointer;
}

#hamburger {
    background-color: transparent;
    color:grey;
    border-radius: 5px;
    border: solid 1px grey;
    z-index: 1;
}

#hamburger:hover, .dropdown-options a:hover {
    filter:brightness(2);
    cursor: pointer;
}

.dropdown-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 350px;
    height: 400px;

    padding-top: 40px;
    
}

.dropdown-container {
    display: none;
    position: absolute;
    background-color: #272b30;
    z-index: -1;
    

}

.dropdown-options a {
    display: flex; 
    align-items: center;

    justify-content: flex-start;

    
    

}

.dropdown-options button {
    border: solid 1px #4799eb;
    border-radius: 5px;
 
    height: 30px;
    width: 80px;

    font-size: 16px;

    background-color: #272b30;
    color: lightskyblue;
}

.option-dropdown {
    display: none;
    position: absolute;

    background-color: #272b30;

    

    
}

.option-dropdown a {
    display: flex;
    flex-direction: column;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
    z-index: 10;



    
}

#free-games, #browser-games, #others {
    color: grey;
    border: none;
}

#others {
    width: 20px;
}

.blue {
    color: skyblue;
}

/*NAVIGATION BAR*/





/*FOOTER*/
footer { /*footer is the whole footer; it is divided into two namely: top-footer and bottom-footer*/
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
   
    position: relative;

    height: auto;
    width: 100%;

    margin: 0;

    
    bottom: 0;
    left: 0;
    right: 0; 

    background-color: black; 
}

#top-footer, #bottom-footer { /*top-footer consists grid links and the logo; bottom-footer consists the copyright and social-media-icons*/
    display: flex;
    flex-flow: row wrap; 
    align-items: center; 
    justify-content: center;
    
    width: 100%;
}



/*UPPER FOOTER*/
#top-footer { 
    padding-bottom: 10px;
}

#links { /*the grouped links are put inside a flex container to easily accommodate changes in various media size*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    
    width: 60%;  
}

.grid-links { /*links are grouped into three through a grid*/
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;

    text-align: center;
}

#logo-footer { /*sets the logo's height and width*/
    height: 100px;
    width: 100px;

    padding-left: 100px;
}
/*UPPER FOOTER*/



/*LOWER FOOTER*/
#bottom-footer { /*adds border on top of the bottom-footer*/
    border-top: solid 1px grey;
    
}

.grid-links a { /*sets the font color of the links on the grid to white*/
    color: white;
}

.grid-links a:hover { /*whenever the links are hovered, the font color changes to grey*/
    color: grey;
}

#social-media-icons { /*puts icons in flex container to row*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    width: 200px;

}

.sm-icons:hover {  /*whenever the icons are hovered, the brightness is lessen which essentially turns it to color grey*/
    filter: brightness(0.5);

    cursor: pointer;
}
/*LOWER FOOTER*/





/*INDEX HTML*/
#whole-body { /*whole-body is the contents of the page, it is set to column because the content is divided into two namely: upper body and lower body*/
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}





/*UPPER BODY*/
article { /*the article is the upper body*/
    display: flex;
    flex-flow: column wrap;

    margin-left: 20px;
    margin-bottom: 10px;
    
    text-align: left;
}

#clear-filter { /*sets the text to start from the right and to decrease the font size*/
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
    
    font-size: small;
}

#clear-filter:hover { /*sets the link to white whenever hovered*/
    color: white;
}
/*UPPER BODY*/



/*LOWER BODY*/
#main-content { /*flex direction is column because of mobile-first approach*/
    display: flex; 
    flex-direction: column;   
}



/*LEFT SIDE*/
#fieldset-filters { /*container of the fieldsets (checkboxes)*/
    display: flex;
    flex-direction: column;
}

fieldset { /*setting individual fieldset's property*/
    display: flex;
    flex-direction: column;

    max-width: 510px;

    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
    border-radius: 10px;
    background-color: #32383e;

    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

fieldset p { /*container of the dropdown in the two fieldsets*/
    display: flex;
    flex-direction: column;

}

fieldset h2 { 
    padding-bottom: 10px;
}

fieldset section { /*sets the paddings of the content(words) in the fieldsets*/
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    
}

.checkbox-grid {  /*puts checkboxes and labels in a grid; overflows will be seen through scrolling*/
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    row-gap: 5px;
    overflow-y: scroll;

}

.checkbox-grid:hover { /*whenever the checkboxes are hovered, the cursor will change to a pointer*/
    cursor: pointer;
}

.dropdown { /*sets the dropdowns' properties*/
    
    background-color: #1c1e22;
    color: #52575c;

    font-size: 17px;
    font-weight: light;

    border: 0;
    border-radius: 10px;

    height: 60px;

    padding-left: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdown:hover { /*whenever the dropdown is hovered, the cursor will change to a pointer*/
    cursor:pointer;
}


#filter-type, #tags { 
    height: 300px;
}

#filter-type-checkbox {
    height: 178px;
}


#sorted-by, #filter-type {
    
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    
}
/*LEFT SIDE*/



/*RIGHT SIDE*/
.box-games { /*puts the games into a grid, one column since approach is mobile-first*/
    /* display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px; */

    display: flex; 
    flex-flow: row wrap;
    row-gap: 20px;
    margin-left: 20px;

    margin-right: 15px;

    margin-bottom: 20px;
}

#content-bottom { /*consists the add to library, genre and platform*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    margin-top: 10px;

    padding-left: 0;

    list-style: none;
    
}

.type { /*sets the properties of the genre on the box*/
    background-color: grey;
    color: #32383e;

    padding: 3px 3px;
    border-radius: 3px;
    font-size: x-small;
    font-weight: bold;

}

#type-windows { /*sets the container of the genre and platform on the box*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100px;
}

.contents { /*sets the container of the individual games on the box*/
    display: flex;
    flex-direction: column;

    width: 340px;
    /* height: 275px; */

    border: 0;
    border-radius: 10px;
    background-color:#32383e;  
 
}

.contents:hover { /*whenever an individual game on the box is hovered, the cursor will change to a pointer*/
    cursor: pointer;
    transform: scale(1.03);
     
}

#header-free { /*sets the properties of game title and the free icon*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 24px;
    padding-right: 24px;
}

#free { 
    height: 25px;
    width: 25px;
}

.caption { 
    padding-left: 24px;
    padding-right: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#add-to-lib { /*sets the properties of the dropdown add-to-lib*/
    background-color: transparent;
    
    border: 0;
    width: 50px;
    font-size: xx-large;
    appearance: none;
}


#add-to-lib:hover { /*whenever the dropdown add-to-lib is hovered, the color will change to white and the cursor will change to pointer*/
    filter: brightness(2);
    cursor: pointer;
}

.thumbnail { 
    height: auto;
    width: 100%;
}
/*RIGHT SIDE*/
/*INDEX HTML*/





/* OVERWATCH2 HTML */
/*LEFT SIDE*/


#main-left { /*sets the container of the left side of the overwatch2 html*/
    display: flex; 
    flex-direction: column;
    align-items: flex-start;

    position: fixed;

    max-width: 350px; 


    list-style: none;

    z-index: 1;
}

#free-button { /*sets the properties of the free-button*/
    background-color: #32383e;  
    border: none;
    border-radius: 10px;

    height: 55px;
    width: 100px;   

    font-size: 20px;
}

#play-now { /*sets the properties of the play-now button*/
    background-color: #4799eb;
    border: none; 
    border-radius: 10px;
    
    height: 55px; 
    width: 250px; 
    
    font-size: 20px;
    color: white;
}

#free-button:hover, #play-now:hover { /*whenever the free-button and play-now button are hovered, the brightness of the buttons increases making it white in color*/
    filter: brightness(1.5);
}

#play-now:hover { /*whenever the play-now button is hovered, the cursor turns to a pointer*/
    cursor: pointer;
}

#buttons-near, #preference { /*sets the containers of the buttons(play-now and free-button) and the preferences buttons*/
    display: flex;
    flex-direction: row;
    align-items: center;

}

#account { 
    font-size: small;
}
/*LEFT SIDE*/



/*RIGHT SIDE*/
#main-right { /*sets the container of the right side*/
    display: flex;
    flex-flow: column nowrap;
    
    padding-left: 375px;
}



/*UPPER RIGHT*/
#directory { /*sets the container and the properties of the directory*/
    display: flex;
    flex-direction: row;

    font-size: small;
    margin-bottom: 10px;
}

#merge-start-pic { /*merges the starting-statement and the one-hundred*/
    display: flex;
    flex-direction: row;
    
}

#title-name { /*adds margin to title-name*/
    margin-top: 0;
    margin-bottom: 20px;
}

#starting-statement { /*sets the container of the starting-statement*/
    display: flex; 
    flex-direction: column;
    
    width: 480px;

}

#one-hundred { /*sets the container of one-hundred pic*/
    display: flex;
}

#ratings li { 
    font-size: larger;

    margin-bottom: 10px;
}

#ratings {
    margin-bottom: 0;
}

#review { /*sets the container of review*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-top: 0;

    width: 420px;

    font-size: large;
}

#form { /*sets the container of form: comments-and-suggestions*/
    display: flex; 
    flex-direction: column;
    width: 650px;
}

#linkers { /*sets the container of emoji links*/
    display: flex; 
    flex-direction: row;
    
    width: 150px;
    justify-content: space-evenly;
    font-size: x-large;
}

#comment, #text_button { /*sets the container of textbox and label and emoji links*/
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;  
    align-items: flex-end;

    width: 630px;
}

#text_button {
    margin-top: 20px;

}

#comment p {
    font-size: large;
    font-weight: bold;
}

textarea { /*sets the properties of the input textarea*/
    border:1px solid rgba(0,0,0,.6);
    background-color: #1c1e22;
    border-radius: 5px;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 16px;

}

#text_button button { /*sets the properties of the button under text_button*/
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 5px;

    height: 80px;
    width: 100px;
}

#text_button button:hover { /*whenever send button is hovered, it will change the color to white*/
    filter: brightness(1.5);
}

.hover:hover {
    cursor: pointer;
    filter: brightness(1.5);
}
/*UPPER RIGHT*/



/*MIDDLE RIGHT*/

.readmore {
    background-color: transparent;
    border: 0;
    font-size: 15px;
}

.readmore:hover {
    color: white;   
    cursor: pointer;
}
#oneparagraph, #twoparagraph, #disclose { /*sets the container of the paragraphs and disclosure statement*/
    margin-left: 0;
    max-width: 630px;
    text-align: justify;
}

#oneparagraph {
    overflow: hidden; 

    height: 100px;
}

#oneparagraph p {
    margin-bottom: 20px;
}

#disclose {
    font-size: smaller;
    font-style: italic;
    margin-top: 10px;
}

#disclose a, #about-overwatch2 a { /*sets the links of disclose and about-overwatch2 to white*/
    color: white;
}

#disclose a:hover, #about-overwatch2 a:hover { /*whenever hovered the links of disclose and about-overwatch2 turns to grey*/
    color: grey;
}


#additional-information {
    max-width: 650px;
}

#note {
    font-size: smaller;
}

.col { /*sets the container of the li elements to one column*/
    display: flex;
    flex-direction: column;
}

#row-one, #row-two { /*sets the ul to three columns*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.aaa { /*sets the color of each first li elements in the column*/
    color: #bebeb6;
}



/*SCREENSHOTS*/
#pictures { /*sets the container of the screenshots*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    max-width: 630px;
}

.ss {
    width: 100%;

}

/*SCREENSHOTS*/
/*MIDDLE RIGHT*/
  


/*LOWER RIGHT*/
/*REQUIREMENTS*/ 
#merge-header { /*merges specs with windows text*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

#windows { 
    padding-left: 5px;
}

#specs {
    width: 650px;
}

#specs-blockquote {
    margin-left: 0px;
    margin-right: 0px;
    text-align: justify;
}

#row-one-specs, #row-two-specs, #row-three-specs { /*sets the ul to two columns*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*REQUIREMENTS*/



/*COPYRIGHT*/
#copy-right { 
    font-size: x-small;
    width: 650px;
}
/*COPYRIGHT*/



/*USER REVIEWS*/
#user-reviews { /*sets the container of the user-reviews*/
    display: flex;
    flex-direction: column;

    width: 650px;
}

#firstcomment, #secondcomment, #name-time { /*sets the container of the comments and name-time*/
    display: flex;
    flex-direction: row;

}

#secondcomment {
    padding-top: 10px;
    align-items: center;
}

#name-time {
    justify-content: space-between;

    width: 200px;
}

#comment-block { /*sets the properties of the block comment*/
    padding-left: 20px;

    width: 500px;
    height: 100px;

    background-color: black;

    border-radius: 10px;
}

#pic {
    padding-right: 30px;

    width: 75px;
    height: 75px;
}
/*USER REVIEWS*/



/*BUTTON-CAPTION*/
#cap { /*sets the container of the caption and the button*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 630px;
}

#cap button { /*sets the properties of the submit review button*/
    color: white;
    background-color: #3a3f44;
    border-color: #22241d;
    border-radius: 5px;

    width: 140px;
    height: 50px;
}

#cap button:hover { /*whenever the submit review button is hovered, the background color will turn black and the cursor will be a pointer*/
    background-color: black;
    cursor: pointer;
}
/*BUTTON-CAPTION*/



/*GAMES-ALIKE*/
#like-button { /*sets the container of the sub header and the see-all button*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 630px;
}

#like-button button { /*sets the properties of the see-all button*/
    border: solid 1px grey;
    border-radius: 5px;

    width: 60px;
    height: 35px;

    cursor: pointer;
    
    background-color: transparent;
    }

#like-button button:hover { /*whenever the see-all button is hovered, the color will change to white*/
    filter: brightness(2);
}


#three-games { /*sets the container of games*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 630px;
}

.games-row { /*sets the background of the each individual game*/
    background-color:#32383e;  
    border-radius: 5px;
}

.game-title { /*sets the container of the title in each individual game*/
    display: flex;
    justify-content: center;
}
/*GAMES-ALIKE*/


/*PICTURES*/
#add, #meh, #dislike, #add, #like, #overwatchpic {
    max-width: 100%;
    max-height: auto;
}
/*PICTURES*/
/*LOWER RIGHT*/
/*RIGHT SIDE*/
/*LOWER BODY*/
/*OVERWATCH2 HTML*/




/*MEDIA QUERY*/
@media screen and (max-width: 471px) {
    #left-nav li:not(#free-to-game-logo) { /*hide everything on left-nav except the logo*/
        visibility: hidden;
        
    }

    #right-nav li:not(#hamburger) { /*hide everthing on right-nav except the hamburger dropdown*/
        visibility: hidden;
        
    }

    #top-footer { /*put the grid on top of the logo instead beside*/
        flex-flow: column wrap;
        margin-bottom: 30px;
    }

    .grid-links { 
        padding-left: 0;
        padding-bottom: 20px;
    }

    #links { /*put each grid on top of one another*/
        flex-flow: column wrap;
    }

    #logo-footer {
        padding-left: 0;
    }

    #bottom-footer { /*removes the border*/
        border-top: none;
        
    }

    #copyright { /*centers the copyright*/
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;

        font-size: smaller;  
        
    }

    .dropdown-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    
        width: 390px;
        height: 400px;
    
        padding-top: 40px;
        
        
    }

    nav select { /*sets the properties of the hamburger dropdown*/
        border: solid 1px grey;
        border-radius: 5px;

        width: 40px;
        height: 45px;

        text-align: center;

        appearance: none;

        cursor: pointer;
    
        background-color: #272b30;
    }

    #main-left, #main-right { /*removes fixed on main-left; sets container*/
        padding-left: 15px;
        position: static;

        margin-top: 30px;

        width: 350px;
    }

    #starting-statement {
        width: 200px;
    }

    #review {
        width: 340px;
    }

    #about-overwatch2 blockquote, #disclose {
        margin-right: 0;
    }

    #pictures { /*put each ss on top of one another*/
        flex-direction: column;
        align-items: center;

    }
    
    .ss {
        margin-bottom: 10px;
    }

    #cap button {
        margin-left: 10px;
    }
    #specs, #copy-right, #firstcomment, #cap, #like-button , #three-games, #comment, #text_button {
        width: 350px;
    }

    #comment-block {
        width: 230px;
    }

    #comment-text {
        width: 270px;
    }

    #three-games { /*put each game on top of one another*/
        flex-direction: column;
        justify-content: space-between;

        height: 900px;
    }
    

    #row-one-specs, #row-two-specs, #row-three-specs { /*instead of two columns, reduced to one*/
        grid-template-columns: 1fr;
        row-gap: 10px;
    }


}



@media screen and (min-width: 471px) and (max-width: 999px) {

    #left-nav li:not(#free-to-game-logo) { /*hide everything on left-nav except the logo*/
        visibility: hidden;
        
    }

    #right-nav li:not(#hamburger) { /*hide everything on right-nav except the hamburger dropdown*/
        visibility: hidden;
        
    }


    nav select { /*sets the properties of the hamburger dropdown*/
        border: solid 1px grey;
        border-radius: 5px;

        width: 40px;
        height: 45px;

        text-align: center;

        appearance: none;

        cursor: pointer;
    
        background-color: #272b30;
    }

    .dropdown-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    
        width: 850px;
        height: 400px;
    
        padding-top: 40px;

        
    }

    #main-content { /*puts box-games beside fieldsets*/
        flex-direction: row;
    }


    #bottom-footer { /*sets icons beside copyright*/
        flex-flow: row nowrap;
    }

    #copyright {
        margin-left: 30px;

        font-size: smaller;
    }

    #whole-main { /*sets the container of the whole-main on a column*/
        display: flex; 
        flex-direction: column;
        align-items: center;
        
    } 

    #main-left, #main-right { /*removes fixed on main-left; sets container*/
        padding-left: 15px;
        position: static;

        margin-top: 30px;

        width: 100%;
    }


    #about-overwatch2 blockquote, #disclose { 
        margin-right: 0;
    }

    #pictures {  /*put each ss on top of one another*/
        flex-direction: column;
        align-items: center;

    }
    
    .ss {
        margin-bottom: 10px;
    }

    #cap button {
        margin-left: 10px;
    }


    #three-games { /*put each game on top of one another*/
        flex-direction: column;
        justify-content: space-between;
    }

    
    .games-row {
        max-width: 630px;
    }
    

    #row-one-specs, #row-two-specs, #row-three-specs { /*back to two columns*/
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
    }


}

@media screen and (min-width: 1000px) and (max-width: 1199px){

    #hamburger { /*hides hamburger*/
        visibility: hidden;
        
    }

    nav button { /*sets the properties of the join free button*/
   
        border: solid 1px #4799eb;
        border-radius: 5px;
     
        height: 46px;
        width: 80px;

        font-size: 16px;

        background-color: #272b30;
        color: lightskyblue;
    }

    
    #right-nav { /*sets the container of the right-nav*/

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        height: 50px;
        width: 250px;

        padding-right: 0;

        list-style: none;
}

    #left-nav { /*sets the container of the left-nav*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        height: 50px;
        width: 750px;

        padding-left: 0;


        margin-right: 30px;

        list-style: none;
    }


    #whole-main {
        margin-top: 80px;
    }

    #main-content { /*puts box-games beside fieldsets*/
        flex-direction: row;
    }

    .box-games { /*boxs games are now two columns*/
        /* grid-template-columns: 1fr 1fr;
        grid-gap: 20px; */

        column-gap: 20px;
        
        margin-left: 20px;
    
        margin-right: 15px;
    
        margin-bottom: 20px;

    
    }

    #copyright {

        font-size: smaller;
    }



}

@media screen and (min-width: 1200px) {

    #hamburger { /*hides hamburger*/
        visibility: hidden;
        
    }

    nav button { /*sets the properties of the join free button*/
   
        border: solid 1px #4799eb;
        border-radius: 5px;
     
        height: 46px;
        width: 80px;

        font-size: 16px;

        background-color: #272b30;
        color: lightskyblue;
    }

    #home-nav { /**/
        padding-left: 173px;
    }
    
    #right-nav { /*sets the container of the right-nav*/

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        height: 50px;
        width: 250px;

        padding-right: 0;

        list-style: none;
}

    #left-nav { /*sets the container of the left-nav*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        height: 50px;
        width: 750px;

        padding-left: 0;


        margin-right: 72px;

        list-style: none;
    }

    #main-content { /*put the main content in the middle*/
        flex-direction: row;

        padding-left: 170px;
        padding-right: 130px;
    }

    article { /*put the article in the middle*/
        padding-left: 170px;
        padding-right: 158px;
        

    }

    .box-games { /*boxs games are now three columns*/
        /* grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px; */
        align-content: flex-start;
        column-gap: 20px;
        margin-left: 20px;
    
        margin-right: 15px;
    
        margin-bottom: 20px;


    
    }

    .contents { /*sets the container of the individual games on the box*/
        display: flex;
        flex-direction: column;
    
        width: 260px;
        height: 275px;
    
        border: 0;
        border-radius: 10px;
        background-color:#32383e; 
        
        
    }

    #type-windows {
        margin-left: 0;
    }

    section h2 {
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a p {
        font-size: 13px;
    }


    #copyright {

        font-size: smaller;
    }

    #whole-main { /*is now in one row*/
        display: flex; 
        flex-direction: row;
    
        margin-top: 80px;

        margin-left: 190px;
        margin-right: 270px;
        
    } 

    .games-row { 
        max-width: 190px;
        max-height: 170px;
    }

    

}  
/*MEDIA QUERY*/