* {
    color:grey;
    text-decoration: none;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    font-size: x-large;
    font-weight: bold;
    color: #bebeb6;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

img:hover {
    filter:brightness(2);
}

body {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #272b30;
}

/*NAVIGATION BAR*/

#home-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    position: fixed;

    height: 50px;
    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    
    background-color: #272b30;
}

#left-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    height: 50px;
    width: 650px;

    padding-left: 0;    
    padding-right: 60px; 

    margin-right: 50px;

    list-style: none;
}

nav select {
    border: none;

    font-size: 16px;

    background-color: #272b30;
}

select:hover {
    color:white;
}

#free-games {
    width: 110px;
}

#browser-games {
    width: 135px;
}


#right-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 50px;
    width: 250px;

    padding-right: 0;

    list-style: none;
}

nav button {
   
    border: solid 1px #4799eb;
    border-radius: 5px;
     
    height: 46px;
    width: 80px;

    font-size: 16px;

    background-color: #272b30;
    color: lightskyblue;
}

nav button:hover {
    color:white;
    border-color: white;

}

/*NAVIGATION BAR*/



/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
    width: 100%;

    
    bottom: 0;
    left: 0;
    right: 0; 

    background-color: black;
    
}

#top-footer, #bottom-footer {
    display: flex;
    flex-flow: row wrap; 
    align-items: center; 
    justify-content: center;
    width: 100%;

}

/*UPPER FOOTER*/

#top-footer {
    padding-bottom: 10px;
}

#links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    
    width: 60%;
    
}

.grid-links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;

    text-align: center;

    /*list-style: none;*/
}

#logo-footer {
    height: 100px;
    width: 100px;

    padding-left: 100px;
}

/*UPPER FOOTER*/

/*LOWER FOOTER*/

#bottom-footer {
    border-top: solid 1px grey;
    
}

#social-media-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

}

/*LOWER FOOTER*/



/*INDEX HTML*/

#whole-body {
    display: flex;
    flex-direction: column;
}

/*UPPER BODY*/
article {
    display: flex;
    flex-flow: column nowrap;

    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    
    text-align: left;
}


/*UPPER BODY*/

/*LOWER BODY*/

#main-content {
    display: flex; 
    flex-direction: column;

}

/*LEFT SIDE*/

#fieldset-filters {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;

    max-width: 350px;
    margin-bottom: 30px;
    margin-left: 20px;
    border: 0;
    border-radius: 10px;
    background-color: #32383e;
    /*background-color: rgba(0, 0, 0, .1);  */
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

fieldset p {
    display: flex;
    flex-direction: column;

}

fieldset h2 {
    padding-bottom: 10px;
}

fieldset section {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    
}

.checkbox-grid {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    row-gap: 5px;
    overflow-y: scroll;

}

section select {
    
    background-color: #1c1e22;
    color: #52575c;

    font-size: 17px;
    font-weight: light;

    border: 0;
    border-radius: 10px;

    height: 60px;

    padding-left: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#graphics, #tags {
    width: 304px;

}

#filter-type, #tags {
    height: 300px;
}

#filter-type-checkbox {
    height: 140px;
}


#sorted-by, #filter-type {
    
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    
}

/*LEFT SIDE*/


/*RIGHT SIDE*/

#box-games {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-left: 20px;

    margin-right: 15px;

    margin-bottom: 20px;

}

#content-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding-left: 0;

    list-style: none;
    
}

#plus {
    height: 20px;
    width: 20px;

}

.type {
    background-color: grey;
    color: #32383e;


    border-radius: 3px;
    font-size: small;
    font-weight: bold;
}

.contents {
    display: flex;
    flex-direction: column;


    border: 0;
    border-radius: 10px;
    background-color:#32383e;  

    
}

#header-free {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 24px;
    padding-right: 24px;
}

#free {
    height: 30px;
    width: 30px;
}

.caption { 
    padding-left: 24px;
    padding-right: 24px;
}

#overwatch2, #diablo, #lost-ark, #pubg, #enlisted, #forge-of-empires {
     
    
    height: auto;
    max-width: 100%;


}

/*LEFT SIDE*/

/*INDEX HTML*/